<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Autorization</servlet-name>
        <servlet-class>com.Autorization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection_ASU_POL</servlet-name>
        <servlet-class>com.Connection_ASU_POL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet10_</servlet-name>
        <servlet-class>com.NewServlet10_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet11</servlet-name>
        <servlet-class>com.NewServlet11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet12</servlet-name>
        <servlet-class>com.NewServlet12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet13</servlet-name>
        <servlet-class>com.NewServlet13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet7</servlet-name>
        <servlet-class>com.NewServlet7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet9</servlet-name>
        <servlet-class>com.NewServlet9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poisk</servlet-name>
        <servlet-class>com.Poisk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poisk_1</servlet-name>
        <servlet-class>com.Poisk_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespServlet1</servlet-name>
        <servlet-class>com.RespServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespServlet2</servlet-name>
        <servlet-class>com.RespServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionPeek</servlet-name>
        <servlet-class>com.SessionPeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionPeek1</servlet-name>
        <servlet-class>com.SessionPeek1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTracking</servlet-name>
        <servlet-class>com.SessionTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTracking_class</servlet-name>
        <servlet-class>com.SessionTracking_class</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vvod_Pol_One_Info</servlet-name>
        <servlet-class>com.Vvod_Pol_One_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vvod_Pol_One_Save</servlet-name>
        <servlet-class>com.Vvod_Pol_One_Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vvod_Save</servlet-name>
        <servlet-class>com.Vvod_Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asu_zir_vorvrat_pol</servlet-name>
        <servlet-class>com.asu_zir_vorvrat_pol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>block</servlet-name>
        <servlet-class>com.block</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>block_user</servlet-name>
        <servlet-class>com.block_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>import_asuzir</servlet-name>
        <servlet-class>com.import_asuzir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>li_adm_sys</servlet-name>
        <servlet-class>com.li_adm_sys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>li_road</servlet-name>
        <servlet-class>com.li_road</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>li_user_sys</servlet-name>
        <servlet-class>com.li_user_sys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vozvrat_pol</servlet-name>
        <servlet-class>com.vozvrat_pol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list</servlet-name>
        <servlet-class>com.vvod_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list_1</servlet-name>
        <servlet-class>com.vvod_list_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list_2</servlet-name>
        <servlet-class>com.vvod_list_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list_3</servlet-name>
        <servlet-class>com.vvod_list_3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list_organ</servlet-name>
        <servlet-class>com.vvod_list_organ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vvod_list_write</servlet-name>
        <servlet-class>com.vvod_list_write</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autorization</servlet-name>
        <url-pattern>/Autorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection_ASU_POL</servlet-name>
        <url-pattern>/Connection_ASU_POL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet10_</servlet-name>
        <url-pattern>/NewServlet10_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet11</servlet-name>
        <url-pattern>/NewServlet11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet12</servlet-name>
        <url-pattern>/NewServlet12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet13</servlet-name>
        <url-pattern>/NewServlet13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet7</servlet-name>
        <url-pattern>/NewServlet7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet9</servlet-name>
        <url-pattern>/NewServlet9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poisk</servlet-name>
        <url-pattern>/Poisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poisk_1</servlet-name>
        <url-pattern>/Poisk_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespServlet1</servlet-name>
        <url-pattern>/RespServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespServlet2</servlet-name>
        <url-pattern>/RespServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionPeek</servlet-name>
        <url-pattern>/SessionPeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionPeek1</servlet-name>
        <url-pattern>/SessionPeek1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTracking</servlet-name>
        <url-pattern>/SessionTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTracking_class</servlet-name>
        <url-pattern>/SessionTracking_class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vvod_Pol_One_Info</servlet-name>
        <url-pattern>/Vvod_Pol_One_Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vvod_Pol_One_Save</servlet-name>
        <url-pattern>/Vvod_Pol_One_Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vvod_Save</servlet-name>
        <url-pattern>/Vvod_Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asu_zir_vorvrat_pol</servlet-name>
        <url-pattern>/asu_zir_vorvrat_pol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>block</servlet-name>
        <url-pattern>/block</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>block_user</servlet-name>
        <url-pattern>/block_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>import_asuzir</servlet-name>
        <url-pattern>/import_asuzir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>li_adm_sys</servlet-name>
        <url-pattern>/li_adm_sys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>li_road</servlet-name>
        <url-pattern>/li_road</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>li_user_sys</servlet-name>
        <url-pattern>/li_user_sys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vozvrat_pol</servlet-name>
        <url-pattern>/vozvrat_pol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list</servlet-name>
        <url-pattern>/vvod_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list_1</servlet-name>
        <url-pattern>/vvod_list_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list_2</servlet-name>
        <url-pattern>/vvod_list_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list_3</servlet-name>
        <url-pattern>/vvod_list_3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list_organ</servlet-name>
        <url-pattern>/vvod_list_organ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vvod_list_write</servlet-name>
        <url-pattern>/vvod_list_write</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>

    <resource-ref>
    <res-ref-name>jdbc/dbASY_Polzovatel</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <listener>
  <listener-class>com.SessionTracking</listener-class>
  </listener>



</web-app>
